body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('MONETRIX\ \(6\).png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form h2 {
  margin: 0;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-toggle button {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
}

.form-toggle button:hover {
  color: #007bff;
}
